<footer class="footer">
    <div class="offerings">
        <div class="service">
            <img src="quick-delivery.svg" alt="Easy Return">
            <span>Quick Delivery</span>
        </div>
        <div class="service">
            <img src="easy-returns.svg" alt="Easy Return">
            <span>Easy Returns</span>
        </div>
        <div class="service">
            <img src="quality-assured.svg" alt="Easy Return">
            <span>Quality Assured</span>
        </div>
    </div>
    <div class="content">
        <div class="search">
            <div class="text">
                <h4>GET EXCLUSIVE ACCESS TO NEW PRODUCTS, DEALS & SURPRISE TREATS</h4>
            </div>
            <div class="form">
                <input class="email-input" type="text" placeholder="Enter your email">
                <button class="subscribe-btn">SUBSCRIBE</button>
            </div>
        </div>
        <div class="list">
                <div class="know-us">
                    <h3>KNOW US</h3>
                    <ul>
                        <li><a href="#">About Colorplast</a></li>
                        <li><a href="#">Corporate Gifting</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="helpdesk">
                    <h3>HELPDESK</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Warranty Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Cancellation Policy</a></li>
                        <li><a href="#">Return & Exchange Policy</a></li>
                        <li><a href="#">Privacy & Security Policy</a></li>
                    </ul>
                </div>
        </div>
    </div>

    <div class="container">
        <div class="logo-section">
            <img src="CPLogo.png" alt="Daily Objects Logo" class="logo">
        </div>
        <div class="social-section">
            <h3>FOLLOW US ON</h3>
            <div class="social-icons">
                <a href="#"><img src="insta.svg" alt="Instagram"></a>
                <a href="#"><img src="facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="youtube.svg" alt="YouTube"></a>
                <a href="#"><img src="twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="linkedin.avif" alt="LinkedIn"></a>
            </div>
        </div>
    </div>

    <div class="company">
        <div class="name">
            <p>&copy; 2001 - 2024 Colorplast Systems Pvt. Ltd</p>
        </div>
        <div class="policy">
            <ul>
                <li>Terms of Use</li> | <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</footer>