.product-container  {
    display: flex;
    height: 80vh;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
  }
  .image-slider {
    flex: 2;
    position: relative;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
  }

  .single-image{
    flex: 2;
    position: relative;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
  }
  
  .slider-wrapper {
    overflow: hidden;
    height: 100%;
  }

  .image-wrapper {
    overflow: hidden;
    height: 100%;
  }
  
  .desc-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .slider-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .imagedesc{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .slider-image.active {
    display: block;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #696868;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .product-details {
    flex: 2;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
  }

  .product-details .details{
    padding: 90px;
  }

  .product-details .product-name{
    font-size: 22px;
    font-weight: 500;
  }

  .product-details::-webkit-scrollbar {
    display: none; 
}
  
  .price {
    font-size: 18px;
  }
  
  .original-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
  }
  
  .options h4 {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #999;
  }
  
  .color-options, .size-options {
    display: flex;
    gap: 10px;
  }
  
  .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .color.active {
    border: 2px solid #20a87e;

  }
  
  .size-options button {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .size-options button.active {
    background-color: #20a87e;
    color: #fff;
  }
  
  .bankselection {
    width: 300px;
    margin-top: 20px;
    position: relative;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-button:focus {
    outline: none;
}

.dropdown-arrow {
    font-size: 14px;
}

.dropdown-menu {
    list-style: none;
    border-radius: 4px;
    padding: 0;
    margin: 5px 0 0;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu li {
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-menu li:hover {
    background-color: #f5f5f5;
}


  .add-to-cart {
    background-color: #20a87e;
    color: #fff;
    padding: 14px 20px;
    font-size: 15px;
    width: 70%;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .offers ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
  .offers ul li{
   display: flex;
   align-items: center;
  }

  .offers .offericon{
    width: 20px;
    margin-right: 11px;
  }
  
  .gift-option {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }
  
  .pincode-checker {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  
  .pincode-checker input {
    flex: 1;
    padding: 15px;
    border: 1px solid #ccc;
  }

  .pincode-checker input:focus {
    outline: none;
  }
  
  .pincode-checker button {
    background-color: #20a87e;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }

.image-slider.single-image .slider-image {
    display: block;
    width: auto; 
    max-width: 100%;
    height: auto; 
    max-height: 100%;
    object-fit: contain;
}

.product-info{
    display: flex;
    flex-direction: row;
    height: 60vh;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee;
  }

.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}  

  .product-info .info{
    padding: 90px;
  }

  @media (max-width: 1024px) and (min-width: 601px) {
    .product-container{
        height: 50vh;
    }

    .product-details .details{
        padding: 20px;
        padding-top: 60px;
      }

    .color-options{
      display: flex;
      flex-wrap: wrap;
    }

    .size-options{
        display: flex;
        flex-wrap: wrap;
    }
    .bankselection{
        width: 250px;
    }

    .add-to-cart {
        padding: 12px 15px;
        width: 80%;
      }

      .pincode-checker{
        display: flex;
        flex-wrap: wrap;
      }

      .pincode-checker input {
        padding: 12px;
      }

      .pincode-checker button {
        padding: 10px 15px;
      }

      .product-info{
        height: 50vh;
      }

      .product-info .info{
        padding: 30px;
      }

      .info h1{
        font-size: 20px;
      }

      .info p{
        font-size: 16px;
      }
  }



  @media screen and (max-width:659px) and (min-width:601PX) {
    .product-info{
        height: 30vh;
      }
  }

  @media (max-width: 600px){
    .product-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .product-details .details{
        padding-top: 10px;
        padding: 15px;
        overflow: hidden;
      }

      .product-info{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
      }

      .product-info .row-reverse{
        display: flex;
        flex-direction: column;
        height: auto;
      }
    
      .product-info .info{
        padding: 20px;
      }

      .bankselection{
        width: 250px;
    }
  }
  
  