<div class="main-container">
    <h1 class="desktop-ccp-header">Shopping Bag</h1>
    <hr />
    <div class="product-container" >

        <div class="cart-items" >
            <div class="cart-item">
                <div class="item-image">
                    <img src="Image.jpg" alt="Product Image" />
                </div>
                <div class="item-details">
                    <p class="item-name">Black Milanese Loop 2.0 Apple WatchBand (42/44/45/46/49mm)</p>
                    <p class="item-price">
                      <strong>Rs.999</strong> <span class="original-price">1999</span>
                    </p>
                    <div class="item-quantity">
                      <button class="decrement"><i class="ri-subtract-line"></i></button>
                      <span class="quantity">1</span>
                      <button class="increment"><i class="ri-add-line"></i></button>
                    </div>
                </div>
                <div class="item-actions">
                    <button class="remove-item"><i class="ri-delete-bin-line"></i></button>
                </div>
            </div>

            <div class="cart-item">
                <div class="item-image">
                    <img src="Image.jpg" alt="Product Image" />
                </div>
                <div class="item-details">
                    <p class="item-name">Black Milanese Loop 2.0 Apple WatchBand (42/44/45/46/49mm)</p>
                    <p class="item-price">
                      <strong>Rs.999</strong> <span class="original-price">1999</span>
                    </p>
                    <div class="item-quantity">
                      <button class="decrement"><i class="ri-subtract-line"></i></button>
                      <span class="quantity">1</span>
                      <button class="increment"><i class="ri-add-line"></i></button>
                    </div>
                </div>
                <div class="item-actions">
                    <button class="remove-item"><i class="ri-delete-bin-line"></i></button>
                </div>
              </div>
        </div>
      
        <div class="place-order">
            
            <div class="order">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <div class="heading-content">
                              <div class="icon me-2">
                                <img class="offericon" src="coupons.avif" alt="Offers" />
                              </div>
                              <div class="content">
                                <span style="font-size: 20px;">COUPONS & OFFERS</span>
                              </div>
                            </div>
                          </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="coupon-checker">
                                <input type="text" placeholder="Type coupon code here" />
                                <button>Apply</button>
                            </div>
                            <div class="offers">
                                <h1>
                                    ADDITIONAL OFFERS ON YOUR CART
                                </h1>
                                <ul>
                                    <li>
                                        Flat ₹500 off on HDFC Times Card transactions on a minimum spend of ₹1999. TCA.
                                    </li>
                                    <li>
                                        Get assured ₹20-100 cashback on orders above 1499 via Mobikwik UPI.
                                    </li>
                                </ul>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <div class="heading-content">
                                <div class="icon me-2">
                                  <img class="offericon" src="giftcard.avif" alt="Offers" />
                                </div>
                                <div class="content">
                                  <span style="font-size: 20px;">REDEEM GIFT CARD</span>
                                </div>
                              </div>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card-pin">
                                <h1>
                                    E-GIFT CARD CREDENTIALS
                                </h1>
                                <div class="card-checker">
                                    <div class="input-content">
                                        <input class="e-giftnum" type="text" placeholder="E-Gift Card Number" />
                                        <input class="e-giftpin" type="text" placeholder="Pin" />
                                    </div>
                                    <button>Apply</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="order-summary">
                    <h3>ORDER SUMMARY</h3>
                    <div class="summary-item">
                      <span>Item Total (3 Items)</span>
                      <span>Rs.3197</span>
                    </div>
                    <div class="summary-item">
                      <span>Discount</span>
                      <span>Rs.549</span>
                    </div>
                    <div class="summary-item">
                      <span>Shipping</span>
                      <span>FREE</span>
                    </div>
                    <div class="grand-total">
                      <div>
                        <strong>Grand Total</strong>
                        <small>(Inclusive of Taxes)</small>
                      </div>
                      <strong>Rs.2648</strong>
                    </div>
                    <div class="savings">
                      <span>You Saved Rs.549</span>
                    </div>
                    <button class="checkout-btn">CHECKOUT</button>
                  </div>
            </div>
            
              
        </div>

        
      </div>
    
  </div>
  