<!-- <div class="main-container">
    <h1 class="desktop-ccp-header">Wearables</h1>
    <hr />
    
    <div class="ccp-items">
        <a class="product-item"(click)="navigateTo('items')">
            <div class="item-details">
              <img
                class="circle-style-image"
                src="product3.avif"
                alt="Product 1"
              />
              <p class="list-title">Product 1</p>
            </div>
          </a>
          <a class="product-item" (click)="navigateTo('items')">
            <div class="item-details">
              <img
                class="circle-style-image"
                src="product3.avif"
                alt="Product 2"
              />
              <p class="list-title">Product 2</p>
            </div>
          </a>
          <a class="product-item" (click)="navigateTo('items')">
            <div class="item-details">
              <img
                class="circle-style-image"
                src="product3.avif"
                alt="Product 3"
              />
              <p class="list-title">Product 3</p>
            </div>
          </a>
    </div>
  
   
  </div>

   -->


   <div class="main-container">
    <h1 class="desktop-ccp-header">Wearables</h1>
    <hr />
  
    <div class="ccp-items">
      <a 
        class="product-item" 
        *ngFor="let product of products" 
        (click)="navigateTo(product.route)"
      >
        <div class="item-details">
          <img
            class="circle-style-image"
            [src]="product.image"
            [alt]="product.name"
          />
          <p class="list-title">{{ product.name }}</p>
        </div>
      </a>
    </div>
  </div>
  