.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  
  .container {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 90%;
    max-width: 90vw;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  input {
    width: 100%;
    padding: 10px 10px 4px 20px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #222222;
    box-sizing: border-box; 
    color: rgb(97, 97, 97);
    font-weight: 500;
  }
  
  input:focus {
    outline: none;
    border-color: #248859;
  }
  
  label.focused {
    top: -4px;
    font-size: 14px;
    color: #248859;
    font-weight: 500 ;
  }
  
  .clear-button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #222222;
  }

  .search-result{
    width: 100%;
    display: flex;
  }
  